# Deployer Wallet's private key
WALLET_PRIVATE_KEY=

# Lock Owners for Proxy Admin & Access Control
PROXY_ADMIN_LOCK_OWNER=
ACCESS_CONTROL_LOCK_OWNER=

# Rules & Actions Owner
RULES_OWNER=
ACTIONS_OWNER=

# Beacon Owner, responsible for releasing new versions for all upgradable contracts that use Beacon pattern
BEACON_OWNER=

# Proxy Admin for factories
FACTORIES_PROXY_OWNER=

# Primitives owner
PRIMITIVES_OWNER=

# DEPLOY_FR=
# DEPLOY_MIGRATION=

TREASURY_ADDRESS=
TREASURY_FEE_BPS=
